body {
  background-color: #0b00ff03;
}
#welcome-message {
  text-align: center;
}

#rules-title {
  padding-top: 2%;
  text-align: center;
}

.rule-of-game {
  padding-top: 5px;
}

#answers {
  padding: 25px;
}

.card-sections, .row-sections {
  margin-bottom: 20px;
}

#spin-column {
  text-align: center;
}

#spin-button, #spin-again-button {
  width: 30%;
  border: 1px solid #dcdcdc;
}

#form-results {
  display: none;
}


#spin-again-row {
  margin-top: 25px;
  margin-bottom: 20px;
}